# Archivos y directorios de compilación
/cuda/bin/
*.o
*.out
ciphered_output.tif
deciphered_output.tif
lena1.png
salidaC.tif
salidaDC.tif
aes_try/aes_image_encrypt
aes_try/aes.cpp
aes_try/salida.tif
*.pyc
cuda/doc/
template
full_report.jpg
Técnica_esteganográfica_basada_en_caos.pdf
visual_results
test_kernel
report2.nsys-rep
video_streaming/bin
