ACE22.png
archivo.txt
caoticos.txt
ciphered_altered_lena3.tif
gauss.png
gaussL.png
histocifrado.png
histoOriginal.png
logistic.png
logisticL.png
perforance.prof
perforance.txt
result.txt
sine.png
sineL.png
tent.png
tentL.png
AC2D
ACE
aes
algoritmo
algoritmoPython
Bibliografia
nist
repositorio
TFM  Aplicación de Modelos Caóticos en criptografía
estadisticas/__pycache__/algoritmo.cpython-313.pyc
estadisticas/__pycache__/CelularAutoma2d.cpython-313.pyc
estadisticas/__pycache__/ElementalCelularAutomata.cpython-313.pyc
estadisticas/__pycache__/lyapunov.cpython-313.pyc
estadisticas/__pycache__/modeloCaos.cpython-313.pyc
estadisticas/__pycache__/proposed_cipher.cpython-313.pyc
estadisticas/__pycache__/stats.cpython-313.pyc
permuted_columns.png
permuted_rows.png
reconstructed_blocks.png
